.Recipe-Container {
  width: 550px;
  padding: 50px 0;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 0 0 15px grey;
  background-color: #D3D3D3;
}

.center-block {
  float: none;
}

.margin-bottom {
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
}

.Recipe-Label {
  color: white;
  text-shadow: 0 0 4px black;
}

.Save-Button {
  margin-left: 110px;
}

.Delete-Button {
  margin-left: 10px;
  background-color: grey;
  color: white;
}

.Add-Button {
  float: right;
  margin-right: 110px;
}
